<!-- https://merakiui.com/components/marketing/footers -->
<footer class="bg-white dark:bg-gray-900">
    <div class="container mx-auto">
        <div class="lg:flex">
            <div class="w-full lg:w-2/5">
                <div class="">
                    <h3 class="text-gray-700 uppercase dark:text-white">About</h3>

                    <p class="mt-2 text-gray-500 dark:text-gray-400">Join 31,000+ other</p>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 lg:flex-1">
                <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4 text-center">
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">About</h3>
                        <a href="#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Company</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Blog</h3>
                        <a href="#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Tec</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Products</h3>
                        <a href="#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Mega cloud</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Contact</h3>
                        <span class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">+1 526 654 8965</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>