{{ define "main" }}
{{ partial "page-header" . }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <a
                href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-2"></i
                >{{ .Params.author }}
              </a>
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-file-word"></i> {{ .WordCount }} words
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock"></i> {{ .ReadingTime }} minutes
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-folder mr-2"></i> {{ $categories:= .Params.categories }}
              {{ range $i,$p:= $categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                    {{ ", " }}
                  {{ end }}
                </a>
              {{ end }}
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-calendar"></i>
              {{ time.Format "Jan 2, 2006" .PublishDate }}
              {{ if ne .Params.Lastmod .Params.Date }}
              <i class="pl-3 fa-solid fa-calendar"></i> Updated {{ .Params.Lastmod.Format "Jan 2, 2006" }}
              {{ end }}
            </li>
            <li></li>
          </ul>
          <div class="content mb-10">
            <details class="table-of-content">
              <summary>{{ with i18n "toc" }}{{ . }}{{ else }}Table Of Contents{{ end }}</summary>
              {{ .Page.TableOfContents }}
            </details>
            {{ .Content }}
          </div>
          {{ $author := "" }}
          
          {{ $person_page_path := (printf "/authors/%s" $author) }}
          {{ $person_page := site.GetPage $person_page_path }}
          {{ if not $person_page }}
            {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
          {{end}}
          {{ $person := $person_page.Params }}
          {{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
          {{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}
          <div class="row items-start justify-between">
            <div class="lg:col-5 mb-10 flex items-center lg:mb-0">
              <h5 class="mr-3">{{ i18n "tags" }} :</h5>
              <ul>
                {{ $tags:= .Params.tags }}
                {{ range $i,$p:= $tags }}
                  <li class="inline-block">
                    <a
                      class="bg-theme-light hover:bg-primary dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark m-1 block rounded px-3 py-1 hover:text-white"
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                      {{ . | humanize }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="lg:col-4 flex items-center">
              {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" (i18n "share") "Whatsapp" false "Telegram" false) }}
            </div>
          </div>
          <!-- comments -->
          <div class="container mx-auto prose prose-slate lg:prose-xl dark:prose-invert mt-3">
            {{ partial "page_footer" . }}
          </div>
      <!-- Related posts -->
      {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
